@media screen and (max-width: 1300px)
{           
    .template-coffee-story .coffee-perfection-img {
        width: 500px !important;
        height: 750px !important;

    }

    .template-coffee-story .coffee-story .header {
        font-size: 24px !important;
    }


    .template-coffee-shop .coffee-features .shop-name {
        font-size: 18px ;
    }

    .template-coffee-shop .coffee-features .shop-slogan {
        font-size: 10px;
    }

    .template-coffee-shop .coffee-features .features-list {
        margin-left: 10px !important;
    }

    .template-coffee-shop .coffee-features .features-list .feature {
        margin: 10px 0 !important;
        letter-spacing: 0.2em !important;
    }

    .template-coffee-shopinfo .operation-hours {
        padding-left: 20px !important;
    }

    .template-coffee-shopinfo .operation-hours .times h5 {
        font-size: 16px !important;
    }

    .template-coffee-shopinfo .coffee-footer .shop-logo {
        left: 16% !important;
    }

}

@media screen and (max-width: 980px)
{           
    .template-coffee-showcase{
        .coffee-greeter{
            top: 35% !important;
            left: 30% !important;
            font-size: 16px !important;
        }
    }

    .template-coffee-story .coffee-perfection-img {
        width: 500px !important;
        height: 750px !important;

    }

    .template-coffee-story .coffee-perfection-img .title-perfection {
        padding-top: 80px !important;
        font-size: 18px !important;
    }

    .template-coffee-story .coffee-story {
        padding-top: 0px !important;
        margin-top: 0px !important;

        .header{font-size: 20px !important; font-family: 'Khula', sans-serif !important;}
        .underline{margin-bottom: 5px !important;}
        .description{
            font-size: 10px !important;
            padding-right: 40px !important;
        }
    }

    .template-coffee-newsletter{
        height: 300px !important;
        .newsletter{top: 32% !important;}
    }

    .template-coffee-shop .coffee-features .features-list .feature {
        margin: 20px 0 !important;
        padding-left: 290px !important; 
        letter-spacing: 0.2em !important;
    }


    .template-coffee-shop .coffee-images {
        width: 100% !important;
    }


    .template-coffee-shopinfo .operation-hours {
        padding-left: 20px !important;
        width: 100% !important;
    }

    .template-coffee-shopinfo .coffee-footer .shop-logo {
        left: 6% !important;
    }

}

@media screen and (max-width: 720px)
{           
    .template-coffee-showcase{
        .coffee-greeter{
            top: 35% !important;
            left: 20% !important;
            font-size: 16px !important;
        }
    }

    .template-coffee-story .coffee-logo {
        font-size: 42px !important;
        margin: 30px 0 !important;
    }

    .template-coffee-story .coffee-perfection-img {
        width: 400px !important;
        height: 650px !important;

    }

    .template-coffee-story .coffee-perfection-img .title-perfection {
        padding-top: 80px !important;
        font-size: 18px !important;
    }

    .template-coffee-story .coffee-story {
        .header{text-align: center !important;}
        .underline{margin-bottom: 5px !important; margin: auto !important;}
        .description{
            padding: 0px !important;
            text-align: center !important;
        }
    }

    .template-coffee-newsletter{
        height: 300px !important;
        .newsletter{top: 32% !important;}
    }

    .template-coffee-shop .coffee-features .features-list .feature {
        margin: 15px 0 !important;
        padding-left: 150px !important; 
    }


    .template-coffee-shop .coffee-images .carousel-caption {
        top: 25% !important;
    }

    .template-coffee-shopinfo{
        height: 700px !important;
        .operation-hours {
            .hour-header{text-align: center !important;}
            text-align: center !important;
        }


        .coffee-footer{
            height: 150px !important;
    
            .social{display: block !important; left: 36% !important;}
            
            .shop-logo {
                left: 35% !important;
                display: block !important;
            }
            .information{left: 30% !important; display: block !important;}
            .information li{text-align: center !important;}
                
        }
        
    }

}



@media screen and (max-width: 720px)
{           
    .template-coffee-showcase{
        .coffee-greeter{
            top: 35% !important;
            left: 10% !important;
            font-size: 12px !important;
        }
    }

    .template-coffee-story .coffee-logo {
        font-size: 42px !important;
        margin: 30px 0 !important;
    }

    .template-coffee-story .coffee-perfection-img {
        width: 400px !important;
        height: 650px !important;

    }

    .template-coffee-story .coffee-perfection-img .title-perfection {
        padding-top: 80px !important;
        font-size: 18px !important;
    }

    .template-coffee-story .coffee-story {
        .header{text-align: center !important;}
        .underline{margin-bottom: 5px !important; margin: auto !important;}
        .description{
            padding: 0px !important;
            text-align: center !important;
        }
    }

    .template-coffee-newsletter{
        height: 300px !important;
        .newsletter{top: 32% !important;}
    }

    .template-coffee-shop .coffee-features .features-list .feature {
        margin: 15px 0 !important;
        padding-left: 150px !important; 
    }


    .template-coffee-shop .coffee-images .carousel-caption {
        top: 25% !important;
    }

    .template-coffee-shopinfo{
        height: 700px !important;
        .operation-hours {
            .hour-header{text-align: center !important;}
            text-align: center !important;
        }


        .coffee-footer{
            height: 150px !important;
    
            .social{display: block !important; left: 36% !important;}
            
            .shop-logo {
                left: 35% !important;
                display: block !important;
            }
            .information{left: 30% !important; display: block !important;}
            .information li{text-align: center !important;}
                
        }
        
    }

}

// carousel arrows
@media screen and (min-width: 768px)
{       
    .carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
        margin-right: -10px;
    }

    .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }

    .carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px;
    }

    .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
    }
}

@media screen and (max-width: 580px)
{       
    .template-coffee-showcase .coffee-nav .shop-logo {
        display: block !important;
        font-size: 12px !important;
        left: 33% !important;
    }
    .template-coffee-showcase .coffee-nav .nav-social {
        left : 37% !important;
        top: 45px !important;
    }

    .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        font-size: 0px !important;
    }

    .template-coffee-shop .coffee-features {
        padding-left: 0px !important;
    }

    .template-coffee-shop .coffee-features .features-list .feature {
        padding-left: 120px !important;
    }

    // hazel shop info
    .template-coffee-shopinfo{
        .operation-hours{
            .times{
                margin: 20px 0 !important;
                h5{
                    font-size: 12px !important;
                    letter-spacing: 0.2em !important;
                    .days{font-size: 8px !important; margin-right: 4px !important;}
                }        
            }
        }
        .coffee-footer{
            height: 150px !important;
        
                .social{display: block !important; left: 30% !important;}
                
                .shop-logo {
                    left: 28% !important;
                    display: block !important;
                }
                .information{left: 22% !important; display: block !important;}
        
        }
    }

}

@media screen and (max-width: 420px)
{       
    .template-coffee-showcase{display: none !important;}

    .template-coffee-showcase .coffee-nav .shop-logo {
        font-size: 8px !important;
        left: 30% !important;
    }
    .template-coffee-showcase .coffee-nav .nav-social {
        left : 37% !important;
        top: 45px !important;
    }

    .template-coffee-showcase{
        .coffee-greeter{
            top: 42% !important;
            left: 0% !important;
            font-size: 10px !important;
        }
    }

    .template-coffee-story{
        padding: 0px !important; 
    
        .coffee-perfection-img {
            width: 300px !important;
            height: 550px !important;
        }

    }


    // newsletter
    .template-coffee-newsletter{
        .newsletter{
            h2{font-size: 12px !important; letter-spacing: 0.2em !important;}
            input[type=email]{
                display: inline-block;
                width: 300px !important;
                height: 38px !important;
            }
            input[type=submit]{
                font-size: 12px !important; 
                margin-top: 25px !important;
            }
        }
    }

    .template-coffee-shop .coffee-features .features-list .feature {
        padding-left: 45px !important;
    }

    .template-coffee-shop .coffee-images .carousel-caption {
        font-size: 14px !important;
    }


    // hazel shop info
    .template-coffee-shopinfo{
        .coffee-footer{
                .social{left: 26% !important;}
                
                .shop-logo {
                    left: 22% !important;
                    display: block !important;
                }
                .information{left: 14% !important;}
        }
    }

}

@media screen and (max-width: 385px)
{       
    .template-coffee-showcase{display: none !important;}

    // hazel shop info
    .template-coffee-shopinfo{
        .coffee-footer{
                .social{left: 26% !important;}
                
                .shop-logo {
                    left: 22% !important;
                    display: block !important;
                }
                .information{left: 8% !important;}
        }
    }

}